:root {
    --first-color: white;
    --second-color: rgb(233, 233, 233);
    --third-color: rgb(82, 82, 82);

    --default-text-color: var(--third-color);

    --header-background-color: rgb(52, 52, 52);
    --header-text-color: white;
    --header-text-padding: 4px;
    --header-text-border-radius: var(--header-text-padding);
    --header-padding: 1em;
    --header-text-background-color-hover: var(--second-color);
    --header-text-color-hover: var(--header-background-color);

    --img-bottom-border-radius: 1em;

    --section-padding: 2em;
    --section-odd-background-color: var(--first-color);
    --section-even-background-color: var(--second-color);
    --section-odd-element-background-color: var(--second-color);
    --section-even-element-background-color: var(--third-color);
    --section-even-element-text-color: var(--first-color);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--default-text-color);
}

body {
    margin-top:0;
}

header {
    background-color: var(--header-background-color);
    padding: var(--header-padding);
    text-align: center;
}

header * {
    color: var(--header-text-color);
    font-weight: bold;
    vertical-align: middle;
}

header > * {
    display: inline-block;
    width:33%;
}

header > *:first-child {
    text-align: left;
}

header > *:last-child {
    text-align: right;
}

header div.full-name {
    font-weight: bold;
    font-size: xx-large;
    padding: var(--header-text-padding);
}

header .topnav a {
    text-decoration: none;
    padding: var(--header-text-padding);
    border-radius: var(--header-text-border-radius);
}

header .topnav a:hover {
    background-color: var(--header-text-background-color-hover);
    color: var(--header-text-color-hover);
}

header .contacts-bar a img {
    height: 2.2em;
    margin: 0.2em;
}

header .contacts-bar a img:hover {
    height: 2.6em;
    margin: 0;
}

img.main-profile-picture {
    display: block;
    width: 100%;
    border-bottom-left-radius: var(--img-bottom-border-radius);
    border-bottom-right-radius: var(--img-bottom-border-radius);
}

section {
    display: block;
    padding: var(--section-padding);
    text-align: center;
}

section:nth-of-type(odd) {
    background-color: var(--section-odd-background-color);
}

section:nth-of-type(even) {
    background-color: var(--section-even-background-color);
}

section:nth-of-type(odd) div.summary-element{
    background-color: var(--section-odd-element-background-color);
}

section:nth-of-type(even) div.summary-element{
    background-color: var(--section-even-element-background-color);
}

section:nth-of-type(even) div.summary-element p{
    color:var(--section-even-element-text-color);
}

section.who-am-i{
    text-align: center;
}

div.summary-elements-content{
    width:85%;
    margin: 0 auto;
}

section.page-summary > h1{
    font-size: xx-large;
    text-align: center;
    margin-top: 0;
}

section.page-summary > h1 > a{
    text-decoration: none;
}

section.page-summary > h1 > a:hover{
    text-decoration: underline;
}

div.summary-elements-container{
    display: block;
    margin-left: auto;
    text-align:center;
}

div.summary-element{
    display: inline-block;
    padding: 0.8em;
    border-radius: 1em;
    margin: 1em;
}

div.summary-element * {
    margin: 0;
}

div.summary-element p {
    margin: 0.2em;
}

div.summary-element > img{
    width: 235px;
    height: 235px;
    border-radius: 0.5em;
}

div.summary-element > p.summary-element-title{
    font-weight: bold;
    font-size: x-large;
}

div.summary-element > p.summary-element-dates{
    font-family: monospace;
}

div.summary-element > p.summary-element-detail{
    margin:0;
}
