:root {
    --first-color: white;
    --second-color: rgb(233, 233, 233);
    --third-color: rgb(82, 82, 82);

    --default-text-color: var(--third-color);

    --header-background-color: rgb(52, 52, 52);
    --header-text-color: white;
    --header-text-padding: 6px;
    --header-text-border-radius: var(--header-text-padding);
    --header-padding: 1em;
    --header-text-background-color-hover: var(--second-color);
    --header-text-color-hover: var(--header-background-color);

    --img-bottom-border-radius: 1em;

    --section-padding: 2em;
    --section-odd-background-color: var(--first-color);
    --section-even-background-color: var(--second-color);
    --section-odd-element-background-color: var(--second-color);
    --section-even-element-background-color: var(--third-color);
    --section-even-element-text-color: var(--first-color);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    font-family: sans-serif;
    color: var(--default-text-color);
}

body {
    margin:0;
}

div.navbar {
    background-color: var(--header-background-color);
    padding: var(--header-padding);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.navbar * {
    color: var(--header-text-color);
    font-weight: bold;
    vertical-align: middle;
}

div.navbar div.full-name {
    font-weight: bold;
    font-size: xx-large;
    padding: var(--header-text-padding);
}

div.navbar > div.full-name a, div.navbar > nav.pages-nav a {
    text-decoration: none;
    padding: var(--header-text-padding);
    border-radius: var(--header-text-border-radius);
}

div.navbar .pages-nav a {
    font-size: 20px;
}

div.navbar > nav.pages-nav > a:hover, div.navbar > div.full-name > a:hover {
    background-color: var(--header-text-background-color-hover);
    color: var(--header-text-color-hover);
}

div.navbar .contacts-bar a img {
    height: 2.2em;
    margin: 0.2em;
}

div.navbar .contacts-bar a img:hover {
    height: 2.6em;
    margin: 0;
}

header > img.main-profile-picture {
    display: inline-block;
    width: 100%;
}

header > *:last-child {
    border-bottom-left-radius: var(--img-bottom-border-radius);
    border-bottom-right-radius: var(--img-bottom-border-radius);

}

section {
    display: block;
    padding: var(--section-padding);
    text-align: center;
}

section:nth-of-type(odd) {
    background-color: var(--section-odd-background-color);
}

section:nth-of-type(even) {
    background-color: var(--section-even-background-color);
}

section:nth-of-type(odd) div.section-element {
    background-color: var(--section-odd-element-background-color);
}

section:nth-of-type(even) div.section-element {
    background-color: var(--section-even-element-background-color);
}

section:nth-of-type(even) div.section-element * {
    color:var(--section-even-element-text-color);
}

div.section-elements-content {
    width:85%;
    margin: 0 auto;
}

div.section-elements-content > a {
    text-decoration: none;
}

section > h1 {
    font-size: xx-large;
    text-align: center;
    margin-top: 0;
}

section > h2 {
    font-size: x-large;
    text-align: center;
    margin-top: 0;
}

section.page-summary > h1 > a, section.page-detail > h1 > a {
    text-decoration: none;
    padding:0.5em;
    border-radius: 0.5em;
}

section.page-summary:nth-child(odd) > h1 > a:hover {
    background-color: var(--section-odd-element-background-color);
}
section.page-summary:nth-child(even) > h1 > a:hover {
    color: var(--section-even-background-color);
    background-color: var(--section-even-element-background-color);
}

div.section-elements-container {
    display: block;
    margin-left: auto;
    text-align:center;
}

div.summary-element, div.detail-element-head, div.detail-element-description {
    display: inline-block;
    padding: 0.8em;
    border-radius: 1em;
    margin: 1em;
}

div.detail-element {
    display: block;
    padding: 0.8em;
    border-radius: 1em;
    margin: 1em;
}

div.detail-element img {
    height: 150px;
    max-width: 150px;
    border-radius: 0.5em;
    margin: 0.5em;
}

div.detail-element-head > p {
    display: block;
    max-width: 180px;
}

div.detail-element-description {
    width: 55%;
}

div.section-element * {
    margin: 0;
    vertical-align: middle;
}

div.detail-element * {
    display: inline-block;
}

div.section-element p, div.detail-element-head p  {
    margin: 0.2em;
}

div.summary-element img {
    width: 235px;
    height: 235px;
    border-radius: 0.5em;
}

div.summary-element > p.summary-element-title, div.detail-element-head > p.detail-element-title {
    font-weight: bold;
    font-size: x-large;
}

div.summary-element > p.summary-element-detail, div.detail-element-head > p.detail-element-detail {
    margin:0;
}

div.summary-element > p.summary-element-dates, div.detail-element-head > p.detail-element-dates {
    font-family: monospace;
    font-size: small;
}

div.your-project-data {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.your-project-data * {
    vertical-align: middle;
}

div.your-project-data > div {
    padding: 1em;
    border-radius: 1em;
    margin: 0.5em;
    background-color: white;
    align-content: middle;
}

div.whole-line {
    min-width:70%;
}

div.submission-reset * {
    padding: 1em;
    margin: 0 1em;
    font-size: large;
    border-radius: 1em;
    border: 0;
    background-color: var(--third-color);
    font-weight: bold;
    color:white;
}

div.submission-reset *:hover {
    cursor: pointer;
}