* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(82, 82, 82);
}

body {
    margin-top:0;
}

header {
    background-color: rgb(53, 52, 52);
    padding: 1em;
}

header * {
    color: white;
    font-weight: bold;
}

header div.full-name {
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
    padding: 4px;
}

header nav.topnav {
    display: inline-block;
    text-align:right;
}

header nav.topnav > a{
    text-align:center;
    text-decoration: none;
    padding: 4px;
    border-radius: 4px;
}

header nav.topnav > a:hover{
    background-color: rgb(233, 233, 233);
    color:rgb(53, 52, 52);
}

img.main-profile-picture {
    display: block;
    width:100%;
    height: 250px;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

section {
    display: block;
    padding: 2em;
}

section:nth-of-type(odd){
    background-color: white;
}

section:nth-of-type(even){
    background-color: rgb(233, 233, 233);
}

section.who-am-i{
    text-align: center;
}

section.page-summary > h2{
    text-align: center;
    margin-top: 0;
}

div.summary-elements-container{
    display: block;
    margin-left: auto;
    text-align:center;
}

div.summary-element{
    display: inline-block;
    padding: 0.8em;
    /* border: 0.05em solid; */
    border-radius: 1em;
    margin: 0.5em;
}

 section:nth-of-type(odd) div.summary-element{
    background-color: rgb(233, 233, 233);
}

section:nth-of-type(even) div.summary-element{
    background-color: rgb(82, 82, 82);
}

section:nth-of-type(even) div.summary-element p{
    color:white;
}

div.summary-element * {
    margin: 0;
}

div.summary-element > img{
    width: 100%;
    border-radius: 0.5em;
}

div.summary-element > p.summary-element-title{
    font-weight: bold;
}

div.summary-element > p.summary-element-dates{
    font-family: monospace;
}

div.summary-element > p.summary-element-detail{
    margin:0;
}
